<div>
    <app-header></app-header>

    <div class="card" style="display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 50px 0px 0px 40px;">
        <div style="padding-right: 20px">
            <h1>Clothes That Get YOU Noticed</h1>
            <p>Fashion is part of the daily air and it does not quite help that it changes all the time. Clothes have always been a marker of the era and we are in a revolution. Your fashion makes you been seen and heard that way you are. So, celebrate the seasons new and exciting fashion in your own way.</p>
            <button class="btn btn-p" routerLink="/products">Shop Now</button>
        </div>
        <img src="../../../assets/images/img.png" style="width: 50vw;height: 50vh;" />
    </div>
    
</div>