<div class="filters-group-container">
    <h1 class="category-heading">Clothing</h1>
    <ul class="categories-list" style="list-style-type: none;">
        <li class="category-item">
            <p class="category-name" routerLink="/products/men" (click)="c()">Men</p>
        </li>
        <li class="category-item">
            <p class="category-name" routerLink="/products/women"  (click)="c()">Women</p>
        </li>
        <li class="category-item">
            <p class="category-name" routerLink="/products/kids"  (click)="c()">Kids</p>
        </li>
    </ul>
    